<!-- ---------------------------
Fichier : new.html
Date : 14.10.2020
But : Page html, créer un nouveau message
Remarque :
------------------------- -->

{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-8 offset-md-2 mt-4">
            <h2><b>{{ title }}</b></h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-dismissable {{ category }} fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-label-hidden="true">&times;</span></button>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-8 offset-md-2 mt-2">
            <form method="POST">
                <!-- What is a CSRF ? Cute and Small Round Feijao -->
                <div class="form-group">
                    <label>Recipient username</label>
                    <input id='recipient' name="recipient" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id='title' name="title" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea name="body" type="text" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let searchParams = new URLSearchParams(window.location.search)

    if (searchParams.get('recipient') != null) {
        document.getElementById('recipient').value = searchParams.get('recipient');
    }
    if (searchParams.get('title') != null) {
        document.getElementById('title').value = searchParams.get('title');
    }
</script>

{% endblock %}