<!-- ---------------------------
Fichier : nav.html
Date : 14.10.2020
But : Page html, implementation du bar nav en haut de la page
Remarque :
------------------------- -->

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand">
        <b>STI Messenger</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/inbox">
                    <i class="fas fa-envelope"></i>
                    Inbox
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/compose">
                    <i class="fas fa-pencil-alt"></i>
                    Compose
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user %}
                {% if user.admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" style="color: red">
                            <i class="fas fa-users-cog"></i>
                            Administration
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/changePassword">
                        <i class="fas fa-key" style="color: white;"></i>
                        Change password
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt" style="color: white;"></i>
                        Log out
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-out-alt" style="color: white;"></i>
                        Log in
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>