<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand">
        <b>STI Messenger</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/new">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inbox">Inbox</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="fas fa-sign-out-alt" style="color: white;"></i>
                    Log in
                </a>
            </li>
        </ul>
    </div>
</nav>